
#border{
    width: 15%;
    height:auto
}

body{
    background-color: rgb(252, 250, 249);
}

.h1{
    text-shadow: 2px 2px 5px rgb(26, 10, 10);
    font-style: inherit;
    color: rgb(10, 10, 8);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  
    
}

.container{
    width: 25%;
    height: 40%;
    border: 1px;
    margin: 10px;
    margin: auto;
    margin-top:250px;

   
}

.login-form{
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    margin-bottom: auto;
    
}
.text-center{
    text-align: center;
    margin: auto;
}


.btn{
    background-color: rgb(240, 184, 121);
    height: 22px;
    width:200px;
    margin-top: 10px;
    border-radius: 10px;
    
}

.input-box{
    height: 30px;
    width:200px;
    border-radius: 10px;
    margin-top: 10px;
    
  
    
    
}


.center{
    text-align: center;
}

